<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Reddit App</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="getting-started">

	<ion-row *ngFor="let tilePair of tiles">
		<ion-col *ngFor="let tile of tilePair">
			<ion-card class="tile" (click)="navigateTo(tile)">
				<ion-card-content>
					<ion-item>
						<h1>{{tile.title}}</h1>
					</ion-item>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>

</ion-content>
